upstream backend {
   {% for address in backend_addresses %}
     server {{ hostvars[address]['ansible_%s' | format(ansible_interfaces[0])].ipv4.address  }}:443;
   {% endfor %}
   }

server {
        listen                  80 default_server;
        location / {
          proxy_pass https://backend;
        }
}
