server {
    listen 80;
    listen [::]:80;
    hostname example.com www.example.com;
     {% for address in backend_addresses %}
     return 301 https://{{ hostvars[address]['ansible_%s' | format(ansible_interfaces[0])].ipv4.address  }}$request_uri;
     {% endfor %}
    }
